<link rel="stylesheet" href="/css/table.css" />

{{#if isAdmin}}
  {{>products.action}}
  {{>modal.add.product}}
{{/if}}
<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>ID</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Categoría</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
        <td>{{title}}</td>
        <td>{{_id}}</td>
        <td>{{description}}</td>
        <td>{{price}}</td>
        <td>{{category}}</td>
        <td>{{stock}}</td>
        <td>
          <div class="d-flex justify-content-center">
            <a href="/products/{{_id}}" class="see">
              <i class="fa-solid fa-eye"></i>
            </a>
            {{#if ../isAdmin}}
              <button class="edit" onclick="editProduct('{{_id}}')" id="edit" data-id="{{_id}}">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button onclick="deleteProduct('{{_id}}')" class="trash" id="trash" data-id="{{_id}}">
                <i class="fa-solid fa-trash"></i>
              </button>
            {{else}}
              <button class="add add-to-cart" id="add" data-id="{{_id}}">
                <i class="fa-solid fa-cart-plus add" data-id="{{_id}}"></i>
              </button>
            {{/if}}
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#unless isAdmin}}
<script src="/js/addCart.js"></script>
{{>chat}}
{{/unless}}